*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
}

/*Fantasma*/
.Fantasma{
    width: 20%;
    animation-name: ghostAnimate;
    animation-duration: 4s;
    position: relative;
}

/*Animação*/
@keyframes ghostAnimate {
    0% {
        top: 0; bottom: 0;
    }
    25% {
        top: 50px; bottom: 0;
    }
    50% {
        top: 0; bottom: 50px;
    }
    75% {
        top: 50px; bottom: 0;
    }
    100% {
        top: 0; bottom: 50px;
    }
}

.card{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-color: #fff;
    gap: 5rem;
    box-shadow: 0px 19px 19px 0px rgba(255, 255, 255, 0.732);
}

.olho{
    width: 10%;
    height: 12vh;
    background-color: #121212;
}

.patas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pata{
    width: 100%;
    height: 10vh;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 3px 19px 0px rgba(255, 255, 255, 0.732);
}

.pata2{
    width: 100%;
    height: 10vh;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 3px 19px 0px rgba(255, 255, 255, 0.732);
}

.pata3{
    width: 100%;
    height: 10vh;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 3px 19px 0px rgba(255, 255, 255, 0.732);
}