*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
}

/*Fantasma*/
.Fantasma{
    width: 20%;
}

.card{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-color: #fff;
    gap: 5rem;
}

.olho{
    width: 10%;
    height: 12vh;
    background-color: #121212;
}

.patas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pata{
    width: 100%;
    height: 10vh;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #fff;
}

.pata2{
    width: 100%;
    height: 10vh;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #fff;
}

.pata3{
    width: 100%;
    height: 10vh;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #fff;
}